@using SamLearnsAzure.Models
@model UpdateImageViewModel
@{
    ViewData["Title"] = "Update set image details";
}

<div class="BreadCrumbs">
    <br />@Html.ActionLink("Home", "Index", "Home") &gt; @Html.ActionLink(Model.Set.Name, "Set", "Home", new { setNum = @Model.Set.SetNum }) &gt;
    <span style="font-size: 24px;"><strong>Update set image for @Model.Set.Name</strong></span>
</div>
<div class="row">
    <div class="col-md-9">
        <span><strong>Total parts: </strong>@(((int)Model.Set.NumParts).ToString("#,##0"))</span><br />
        <span><strong>Theme: </strong>@Model.Set.Theme.Name</span><br />
    </div>
</div>
<hr />
<span><strong>Select a better image (showing (up to) top 10 matching Lego set number images from Bing): </strong></span><br />
<div class="row">
    @for (int i = 0; i < Model.SetImages.Count; i++)
    {
        <div class="col-md-2">
            <a href='@Url.Action("UpdateImageSave", "Home", new { setNum = Model.Set.SetNum, imageUrl = Model.SetImages[i].SetImage })'><img id="@Model.SetImages[i].SetImage" src="@(Model.SetImages[i].SetImage)" style="max-width:200px; max-height:200px;" alt="@Model.SetImages[i].SetImage" /></a><br />
        </div>
    }
</div>
